body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #313a49;
    flex-direction: column;
}

img {
    width: 15%;
    height: auto;
    border-radius: 10%;
}

#projects p {
    font-size: 1.5em;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #d8e1d2;
    box-shadow: 0 0 10px #d8e1d2;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navbar li {
    margin-right: 20px;
}

#navbar a {
    color: #fff;
    text-decoration: none;
}

#navbar a:hover {
    color: #ccc;
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #313a49;
    padding: 2em;
}

#welcome-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff;
}


#projects {
    padding: 2em;
    color: #fff;
}

.project-tile {
    background-color: #313a49;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-tile h3 {
    margin-top: 0;
    color: #fff;
}

.project-tile a {
    text-decoration: none;
    color: #fff;
}

.project-tile a:hover {
    color: #23527c;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #welcome-section {
        height: auto;
        padding: 1em;
    }
    #navbar {
        padding: 0.5em;
    }
    #navbar ul {
        flex-direction: column;}
    #navbar li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#welcome-section p {
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    color: #fff;
}

footer {
    display: flex;
    height: auto;
    background: #313a49;
    padding: 20px;
    border-top: 1px solid #d8e1d2;
    box-shadow: 0 0 10px #d8e1d2;
    text-align: center; 
}

footer p {
    color: #fff;
    text-align: center;
}

footer div {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}